DATABASE_URL="postgresql://postgres:postgres@localhost:5433/cabinet_shop_platform?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5433/cabinet_shop_platform?schema=public"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
